<tr draggable="true">
    <td class="activity_name" draggable="false">
        <a target="_blank" rel="noopener noreferrer" draggable="false">Name</a>
        <div class="row-actions">
            <button type="button" class="pin-button btn btn-secondary btn-sm active" title="Pin to Overview"
                aria-label="Pin to Overview">&#9734;</button>
            <button class="hide-button btn btn-danger btn-sm active" title="Hide row">&times;</button>
        </div>
    </td>
    <td class="activity_notes">
        <span class="activity_desc">&nbsp;</span>
    </td>
    <td class="activity_status">
        <span class="activity_check_off">&#9744;</span>
        <span class="activity_check_on">&#9745;</span>
    </td>
</tr>
