---
import { Profiles } from './Profiles';
import { Settings } from './Settings';
import { TokenModal } from './TokenModal';
---

<div class="container-fluid">
	<a class="navbar-brand" href="/" id="navbar-logo">
		<img src="/img/dailyscape.png" alt="RSDailies" width="24" height="24" class="d-inline-block align-text-top" />
		RSDailies
	</a>

	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav me-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
					aria-expanded="false">
					More Resources
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="https://runescape.wiki/w/Money_making_guide" target="_blank"
						rel="noreferrer noopener">Money Making Guide</a>
					<a class="dropdown-item" href="https://runescape.wiki/w/Distractions_and_Diversions" target="_blank"
						rel="noreferrer noopener">Distractions and Diversions</a>
					<a class="dropdown-item" href="https://pvme.github.io" target="_blank" rel="noreferrer noopener">PVM
						Encyclopedia</a>
					<a class="dropdown-item" href="https://runepixels.com/" target="_blank"
						rel="noreferrer noopener">Runepixels</a>
					<div class="dropdown-divider"></div>
					<h6 class="dropdown-header">RS3 Discords</h6>
					<a class="dropdown-item" href="https://discord.gg/rs" target="_blank"
						rel="noreferrer noopener">Official RuneScape</a>
					<a class="dropdown-item" href="https://discord.gg/ahelp" target="_blank"
						rel="noreferrer noopener">Achievement Help</a>
					<a class="dropdown-item" href="https://discord.gg/whirlpooldnd" target="_blank"
						rel="noreferrer noopener">Deep Sea Fishing</a>
					<a class="dropdown-item" href="https://discord.gg/nnrmtTU" target="_blank"
						rel="noreferrer noopener">Player Owned Farms</a>
				</div>
			</li>
		</ul>

		<ul class="navbar-nav nav-pills ms-auto nav-right">
			<li class="nav-item dropdown">
				<a class="nav-link expanding_button" href="#" id="profile-button" title="Profiles">
					<span id="profile-name" style="display:none; visibility:hidden;"></span>&#128100;<span
						class="expanding_text">&nbsp;Profiles</span>
				</a>
				<div id="profile-control-container">
					<Profiles client:load />
				</div>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link expanding_button" href="#" id="settings-button" title="Settings">
					&#9881;<span class="expanding_text">&nbsp;Settings</span>
				</a>
				<div id="settings-control-container">
					<Settings client:load />
				</div>
			</li>

			<li class="nav-item">
				<a class="nav-link expanding_button" href="#" id="token-button" title="Import / Export"
					data-bs-toggle="modal" data-bs-target="#token-modal">
					&#8646;<span class="expanding_text">&nbsp;Import / Export</span>
				</a>
			</li>
		</ul>
	</div>
</div>

<TokenModal client:load />

<style>
	.expanding_button {
		transition: all 0.2s ease;
	}
	.expanding_text {
		display: none;
		visibility: hidden;
	}
	.expanding_button:hover .expanding_text {
		display: inline;
		visibility: visible;
	}
</style>

<script>
	document.addEventListener('click', (event) => {
		const target = event.target as HTMLElement;

		if (target.id === 'profile-button' || target.closest('#profile-button')) {
			event.preventDefault();
			const element = document.getElementById('profile-control');
			if (element) {
				element.style.display = element.style.display === 'none' ? 'block' : 'none';
				element.style.visibility = element.style.display === 'none' ? 'hidden' : 'visible';
			}
		}

		if (target.id === 'settings-button' || target.closest('#settings-button')) {
			event.preventDefault();
			const element = document.getElementById('settings-control');
			if (element) {
				element.style.display = element.style.display === 'none' ? 'block' : 'none';
				element.style.visibility = element.style.display === 'none' ? 'hidden' : 'visible';
			}
		}
	});
</script>
